<ion-content>

  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title color="success">Reciclica</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <form [formGroup]="form">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="email" type="email" placeholder="Email"></ion-input>
          </ion-item>
          <ion-label color="danger" *ngIf="form.get('email')?.touched && form.get('email')?.errors && !!form.get('email')?.errors?.['required']" >Email is mandatory</ion-label>
          <ion-label color="danger" *ngIf="form.get('email')?.touched && form.get('email')?.errors && !!form.get('email')?.errors?.['email']" >Email is invalid</ion-label>

          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input formControlName="password" type="password" placeholder="Password"></ion-input>
          </ion-item>
          <ion-label color="danger" *ngIf="form.get('password')?.touched && form.get('password')?.errors && !!form.get('password')?.errors?.['required']" >Password is mandatory</ion-label>


          <ion-button color="dark" fill="clear" size="full" [disabled]="!form.get('email')?.valid">Forgot email/password</ion-button>
          <ion-button (click)="login()" color="success" size="full" [disabled]="!form.valid">LOGIN</ion-button>
          <ion-button (click)="register()" color="success" fill="clear" size="full">Register</ion-button>
        </form>
      </ion-card-content>
    </ion-card>

  </div>

</ion-content>
